.git
.idea
.vscode
.zed
node_modules
vendor
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
public/build
public/hot
